<link rel="stylesheet" href="../assets/scss/vendors/icofont/icofont.min.css">

<div class="container-fluid border-bottom border-3 border-dark">
	<div
		class="container-xxl d-flex justify-content-between py-24 align-items-center"
	>
		<div class="row d-flex align-items-center flex-grow-1">
			<div class="col-2 col-lg-3 ps-0">
				<a href="index.html" class="d-flex align-items-center">
					<img
						src="../assets/images/logo.png"
						alt="logo.png"
						class="logo me-16"
					/>
					<h1 class="fs-32 me-4 ff-yeseva d-none d-lg-block lh-base">7TAO</h1>
					<span class="ff-noto-serif fs-16 fw-bold d-none d-lg-block"
						>活動訂票網</span
					>
				</a>
			</div>

			<div class="col-7 col-lg-3 px-0 d-flex">
				<form
					class="d-flex align-items-center p-0 border border-2 border-primary"
				>
					<input
						class="form-control py-4 border-primary border-2 ff-noto-sans form-control-lg"
						type="search"
						placeholder="探索活動"
						aria-label="Search"
						style="height: 51px"
					/>
					<div class="bg-dark d-flex">
						<a
							class="d-flex justify-content-center align-items-center"
							href="#"
							style="height: 51px; width: 51px"
						>
							<i
								class="icofont-search-1 text-white"
								style="width: 19px; height: 19px"
							></i>
						</a>
					</div>
				</form>
			</div>

			<div class="d-none d-lg-block col-lg-3 px-0 d-flex ms-auto">
				<ul class="d-flex ps-0">
					<li class="ms-auto">
						<a href="#" class="d-flex me-24 ff-yeseva align-items-baseline">
							<i class="icofont-ui-file me-4"></i>
							REGISTER</a
						>
					</li>

					<li>
						<a href="#" class="d-flex ff-yeseva align-items-baseline">
							<i class="icofont-ui-user me-4"></i>
							LOGIN
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- container-xxl -->
</div>
