.swiper {
	background-color: #000;
}
.swiper-wrapper {
	transition-timing-function:  linear infinite;
	
}
.swiper-slide {
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 3.2px;
	width: auto;
	color: #fbff22;
	background: #000;
	text-align: center;
	white-space: nowrap 
}
