.event-date::after {
    @media (min-width: 996px){
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    left: 42%;
    top: 46%;
    margin: 20px 20px;
    transform: translateX(-50%) rotate(120deg);
    background-color: black;}
}

.event-date-2::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    left: 60%;
    bottom: 7%;
    margin: 20px 20px;
    transform: translateX(-50%) rotate(120deg);
    background-color: black;
}