<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>payment</title>
  </head>
  <body class="vh-100  d-flex flex-column">
    <%- include('./layout/header'); -%>
    <div class="container-fluid flex-grow-1">
      <!-- 付款進度 -->
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 mx-auto">
            <ol class="pt-60 ps-0 d-flex justify-content-between">
              <li class="d-flex flex-column">
                <button class="btn btn-primary px-sm-18 py-12 fs-20 fw-bold mb-8 payment-list">1</button>
                <p>訂單確認</p>
                
              </li>

              <li class="d-flex flex-column">
                <button class="btn btn-primary  px-18 py-12 fs-20 fw-bold mb-8 payment-list">2</button>
                <p>結帳付款</p>
                
              </li>

              <li class="d-flex flex-column">
                <button class="btn btn-primary  px-18 py-12 fs-20 fw-bold mb-8 payment-list">3</button>
                <p>付款成功</p>
                
              </li>
            

            </ol>
          </div>
        </div>
      </div>

      <!-- 票價、票種 -->
      <div class="container">
        <div class="row ">
          <div class="col-12 col-lg-6 mx-lg-auto">
            <h2 class="fs-32 fs-sm-48 fw-bold text-center mb-32">返老還童-制服聯誼</h2>
          </div>

          <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
              <ul class="ps-0">
                <li class="d-flex justify-content-between border-top border-3 border-primary py-8">
                  <p class="fw-bold">日期</p>
                  <p class="ff-noto-sans">2023/5/12</p>
                </li>

                <li class="d-flex justify-content-between border-top border-1 border-primary py-8">
                  <p class="fw-bold">票種</p>
                  <p class="ff-noto-sans">改頭換面票（含大改造）</p>
                </li>

                <li class="d-flex justify-content-between border-top border-bottom border-1 border-primary py-8">
                  <p class="fw-bold">票價</p>
                  <p class="ff-noto-sans">$8000</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- test -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3 col-lg-2 col-8 mx-auto">
          <div class="date d-flex flex-md-column flex-row align-items-center justify-content-between border border-3 border-dark position-relative">
            <div class="d-flex flex-column align-items-center">
              <h2 class="text-center ">
                MAY
                <br>
                19
              </h2>
            </div>
            <div class="time d-flex flex-column justify-content-center align-items-center">
              <p class="mb-0 lh-1">12:00</p>
              <p class="mb-0 lh-1">|</p>
              <p class="mb-0 lh-1">20:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
